import(methods)
importFrom(yaml, read_yaml)
importFrom(yaml, yaml.load)

# Types
exportClasses(File, Directory, RasterFile, VectorFile, TabularFile, JsonFile,
              FileCollection, RasterFileCollection, VectorFileCollection, TabularFileCollection)

# Constructors (same name as classes)
export(File, Directory, RasterFile, VectorFile, TabularFile, JsonFile,
       FileCollection, RasterFileCollection, VectorFileCollection, TabularFileCollection)

# Core functions
export(run, build, spade_types, "spade_types<-")
export(get_secret)
